### EDA and Merging of both the files

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

### Reading both the files
Checking the columns

In [2]:
df_allcars = pd.read_csv('allcars.csv', low_memory=False)
df_v2 = pd.read_csv('v2.csv', low_memory=False)

print(df_allcars.columns)
print(df_v2.columns)

df_allcars.shape

Index(['Unnamed: 0', 'timeStamp', 'tripID', 'accData', 'gps_speed', 'battery',
       'cTemp', 'dtc', 'eLoad', 'iat', 'imap', 'kpl', 'maf', 'rpm', 'speed',
       'tAdv', 'tPos', 'deviceID'],
      dtype='object')
Index(['tripID', 'deviceID', 'timeStamp', 'accData', 'gps_speed', 'battery',
       'cTemp', 'dtc', 'eLoad', 'iat', 'imap', 'kpl', 'maf', 'rpm', 'speed',
       'tAdv', 'tPos'],
      dtype='object')

(7214695, 18)

In [3]:
df_v2.shape

(3120272, 17)

In [4]:
df_allcars

,Unnamed: 0,timeStamp,tripID,accData,gps_speed,battery,cTemp,dtc,eLoad,iat,imap,kpl,maf,rpm,speed,tAdv,tPos,deviceID
0,0,2017-10-31 18:45:59.000000,0,ffb0fd700220fff43fffe74808e73e03f33400ef33fbe1...,2.2,14.48,NaN,NaN,44.313725,NaN,NaN,0.0,0.00,903.00,4.0,NaN,15.686275,1
1,1,2017-10-31 18:46:00.000000,0,00b0fda802e804e14104ed3d01ee3a08ec4c04f738fbd5...,3.7,14.48,NaN,NaN,35.294118,NaN,NaN,0.0,0.00,938.00,6.0,NaN,15.294118,1
2,2,2017-10-31 18:46:01.000000,0,00f0fe5002b0fdea4009e33c01ed3701ec4100f53b05e8...,3.9,14.54,NaN,NaN,29.411765,NaN,NaN,0.0,0.00,1044.50,7.0,NaN,14.901961,1
3,3,2017-10-31 18:46:02.000000,0,0120fdc0028804e03c10de3a09e8400ce43b0ae63b01f4...,3.9,14.56,NaN,NaN,53.725490,NaN,NaN,0.0,0.00,1102.00,7.0,NaN,17.647059,1
4,4,2017-10-31 18:46:03.000000,0,00a0fde802d816e0370ae73604e23b04e53900e542ffea...,4.7,14.48,NaN,NaN,75.686275,NaN,NaN,0.0,0.00,1626.50,10.0,NaN,23.529412,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7214690,784210,2017-12-31 17:15:24.000000,1081,0000000000000000000000000000000000000000000000...,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.000000,53
7214691,784211,2017-12-31 17:15:25.000000,1081,0000000000000000000000000000000000000000000000...,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.000000,53
7214692,784212,2017-12-31 17:15:26.000000,1081,0000000000000000000000000000000000000000000000...,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.000000,53
7214693,784213,2017-12-31 17:15:27.000000,1081,0000000000000000000000000000000000000000000000...,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.000000,53
7214694,784214,2017-12-31 17:35:44.000000,1081,0000000000000000000000000000000000000000000000...,0.0,0.00,81.0,0.0,30.980392,44.0,95.0,0.0,9.59,920.25,0.0,0.0,0.000000,53

Checking if both the tables are same or overlapping or not

In [6]:
print(f"Rows in allcars: {len(df_allcars)}")
print(f"Rows in v2: {len(df_v2)}")

df_allcars['tripID'] = df_allcars['tripID'].astype(str)
df_allcars['deviceID'] = df_allcars['deviceID'].astype(str)

df_v2['tripID'] = df_v2['tripID'].astype(str)
df_v2['deviceID'] = df_v2['deviceID'].astype(str)

print(df_allcars[['tripID', 'deviceID']].isnull().sum())
print(df_v2[['tripID', 'deviceID']].isnull().sum())

# Drop rows with missing keys
df_allcars = df_allcars.dropna(subset=['tripID', 'deviceID'])
df_v2 = df_v2.dropna(subset=['tripID', 'deviceID'])

overlap = pd.merge(df_allcars[['tripID', 'deviceID']],df_v2[['tripID', 'deviceID']],how='inner')

print(f"Number of overlapping rows based on tripID and deviceID: {len(overlap)}")

Rows in allcars: 7214695
Rows in v2: 3120272
tripID      0
deviceID    0
dtype: int64
tripID      0
deviceID    0
dtype: int64
Number of overlapping rows based on tripID and deviceID: 0

### Now combining both the files as they are not overlapping i,e. they dont have same values

In [7]:
# Make sure columns match exactly, check order
print(set(df_allcars.columns) - set(df_v2.columns))
print(set(df_v2.columns) - set(df_allcars.columns))

# Drop 'Unnamed: 0' if present
if 'Unnamed: 0' in df_allcars.columns:
    df_allcars = df_allcars.drop(columns=['Unnamed: 0'])

if 'Unnamed: 0' in df_v2.columns:
    df_v2 = df_v2.drop(columns=['Unnamed: 0'])

# Concatenate
df_combined = pd.concat([df_allcars, df_v2], ignore_index=True)

print(f"Combined dataset shape: {df_combined.shape}")

{'Unnamed: 0'}
set()
Combined dataset shape: (10334967, 17)

In [8]:
# Handle missing values
print(df_combined.isnull().sum())
df_combined = df_combined.dropna(subset=['deviceID', 'tripID', 'timeStamp'])  # essential columns
df_combined['timeStamp'] = pd.to_datetime(df_combined['timeStamp'], errors='coerce', infer_datetime_format=True)

# Remove duplicates
df_combined = df_combined.drop_duplicates()

# Filter invalid speeds or rpm
# Convert to numeric, coercing errors to NaN
df_combined['speed'] = pd.to_numeric(df_combined['speed'], errors='coerce')
df_combined['rpm'] = pd.to_numeric(df_combined['rpm'], errors='coerce')

# Drop rows where speed or rpm is NaN (conversion failure)
df_combined = df_combined.dropna(subset=['speed', 'rpm'])

# Now filter invalid values
df_combined = df_combined[(df_combined['speed'] >= 0) & (df_combined['rpm'] >= 0)]

# Continue sorting
df_combined = df_combined.sort_values(['deviceID', 'timeStamp']).reset_index(drop=True)


# Sort data
df_combined = df_combined.sort_values(['deviceID', 'timeStamp']).reset_index(drop=True)

timeStamp          0
tripID             0
accData       158868
gps_speed    2112146
battery      2112146
cTemp        5115495
dtc          5115495
eLoad        2112146
iat          5115495
imap         5115495
kpl          2112146
maf          2112146
rpm          2112146
speed              0
tAdv         5115495
tPos         2112146
deviceID           0
dtype: int64

C:\Users\saxen\AppData\Local\Temp\ipykernel_944\2545070812.py:4: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_combined['timeStamp'] = pd.to_datetime(df_combined['timeStamp'], errors='coerce', infer_datetime_format=True)

In [9]:
# Drop rows missing timestamp (required)
df_combined = df_combined.dropna(subset=['timeStamp'])

# Convert timestamp column again after dropping missing
df_combined['timeStamp'] = pd.to_datetime(df_combined['timeStamp'], errors='coerce')

# Impute missing rpm and gps_speed by interpolation within each deviceID
df_combined['rpm'] = df_combined.groupby('deviceID')['rpm'].transform(lambda x: x.interpolate().fillna(method='bfill').fillna(method='ffill'))

df_combined['gps_speed'] = df_combined.groupby('deviceID')['gps_speed'].transform(lambda x: x.interpolate().fillna(method='bfill').fillna(method='ffill'))


# Drop any remaining rows with missing rpm or gps_speed if needed
df_combined = df_combined.dropna(subset=['rpm', 'gps_speed'])

C:\Users\saxen\AppData\Local\Temp\ipykernel_944\336699373.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_combined['rpm'] = df_combined.groupby('deviceID')['rpm'].transform(lambda x: x.interpolate().fillna(method='bfill').fillna(method='ffill'))
C:\Users\saxen\AppData\Local\Temp\ipykernel_944\336699373.py:10: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_combined['gps_speed'] = df_combined.groupby('deviceID')['gps_speed'].transform(lambda x: x.interpolate().fillna(method='bfill').fillna(method='ffill'))
C:\Users\saxen\AppData\Local\Temp\ipykernel_944\336699373.py:10: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_combined['gps_speed'] = df_combined.groupby('deviceID')['gps_speed'].transform(lambda x: x.interpolate().fillna(method='bfill').fillna(method='ffill'))
C:\Users\saxen\AppData\Local\Temp\ipykernel_944\336699373.py:10: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_combined['gps_speed'] = df_combined.groupby('deviceID')['gps_speed'].transform(lambda x: x.interpolate().fillna(method='bfill').fillna(method='ffill'))

### Viewing the data

In [10]:
print(df_combined.head())

                 timeStamp tripID  \
180896 2017-10-13 13:09:36      1
180897 2017-10-13 13:09:51      2
180898 2017-10-13 13:09:52      2
180899 2017-10-13 13:09:57      2
180900 2017-10-13 15:42:34      3

                                                  accData  gps_speed battery  \
180896  0000043803c00202420003410000000000000000000000...        0.0  48.607
180897  0028044803d0010240010541000342020440fe01420104...        0.0  48.607
180898  ff280400006801034102024001033d0004420103410004...        0.0  48.607
180899  001003e803d001034101043f0103410100440104400204...        0.0  48.607
180900  ffb0044003f00205410302410000000000000000000000...        0.0  48.914

       cTemp  dtc      eLoad  iat imap       kpl     maf      rpm  speed tAdv  \
180896   NaN  NaN   7.058824  NaN  NaN  3.540058  133.98   5508.5  157.0  NaN
180897   NaN  NaN   7.058824  NaN  NaN  3.540058  133.98   5508.5  157.0  NaN
180898   NaN  NaN  90.980392  NaN  NaN  3.540058  133.98   5508.5  157.0  NaN
180899   NaN  NaN   7.058824  NaN  NaN  3.540058  133.98   5508.5  157.0  NaN
180900   NaN  NaN  74.901961  NaN  NaN  1.179644  489.14  12228.5  191.0  NaN

             tPos deviceID
180896   7.058824        1
180897   7.058824        1
180898   7.058824        1
180899   7.058824        1
180900  74.901961        1

In [11]:
print(df_combined.columns)

Index(['timeStamp', 'tripID', 'accData', 'gps_speed', 'battery', 'cTemp',
       'dtc', 'eLoad', 'iat', 'imap', 'kpl', 'maf', 'rpm', 'speed', 'tAdv',
       'tPos', 'deviceID'],
      dtype='object')

In [12]:
print(df_combined.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5102549 entries, 180896 to 6931540
Data columns (total 17 columns):
 #   Column     Dtype
---  ------     -----
 0   timeStamp  datetime64[ns]
 1   tripID     object
 2   accData    object
 3   gps_speed  float64
 4   battery    object
 5   cTemp      object
 6   dtc        object
 7   eLoad      object
 8   iat        object
 9   imap       object
 10  kpl        object
 11  maf        object
 12  rpm        float64
 13  speed      float64
 14  tAdv       object
 15  tPos       object
 16  deviceID   object
dtypes: datetime64[ns](1), float64(3), object(13)
memory usage: 700.7+ MB
None

In [13]:
print(df_combined.describe())
df_combined.to_csv('fleet_.csv', index=False)

                           timeStamp     gps_speed           rpm         speed
count                        5102549  5.102549e+06  5.102549e+06  5.102549e+06
mean   2017-10-23 10:47:54.714628352  8.119788e+00  9.371084e+02  7.407692e+01
min              2017-08-30 00:00:00  0.000000e+00  0.000000e+00  0.000000e+00
25%              2017-10-04 21:19:13  0.000000e+00  2.550000e+02  1.300000e+01
50%              2017-10-12 00:06:21  3.400000e-03  1.088750e+03  3.600000e+01
75%              2017-11-09 17:27:16  1.290000e+01  1.320500e+03  6.600000e+01
max              2017-12-31 23:31:04  3.332000e+02  1.539150e+04  2.550000e+02
std                              NaN  1.364617e+01  6.688887e+02  9.244189e+01

### Feature Engeenering

In [14]:
df_combined['speed'] = pd.to_numeric(df_combined['speed'], errors='coerce')
df_combined = df_combined.sort_values(['deviceID', 'timeStamp'])

# Calculate acceleration (speed difference / time difference in seconds)
df_combined['time_diff'] = df_combined.groupby('deviceID')['timeStamp'].diff().dt.total_seconds()
df_combined['speed_diff'] = df_combined.groupby('deviceID')['speed'].diff()
df_combined['acceleration'] = df_combined['speed_diff'] / df_combined['time_diff']
df_combined['acceleration'] = df_combined['acceleration'].fillna(0)  # Fill initial NaNs

df_agg = df_combined.groupby(['deviceID', 'tripID']).agg({
    'speed': ['mean', 'max', 'std'],
    'rpm': ['mean', 'max', 'std'],
    'acceleration': ['mean', 'max', 'std'],
    'kpl': ['mean', 'min'],
    # Add more features as relevant
})
df_agg.columns = ['_'.join(col) for col in df_agg.columns]  # Flatten MultiIndex columns
df_agg = df_agg.reset_index()


scaler = StandardScaler()
features_to_scale = ['speed_mean', 'rpm_mean', 'acceleration_mean']
df_agg[features_to_scale] = scaler.fit_transform(df_agg[features_to_scale])

In [ ]:
df_agg.to_csv('fleet_features.csv', index=False)

In [15]:
df_agg.head()

,deviceID,tripID,speed_mean,speed_max,speed_std,rpm_mean,rpm_max,rpm_std,acceleration_mean,acceleration_max,acceleration_std,kpl_mean,kpl_min
0,1,0,-0.094017,89.0,31.508224,1.134219,3829.0,908.289244,-0.019588,6.0,1.547410,0.0,0.0
1,1,1,1.306837,157.0,NaN,7.194329,5508.5,NaN,-0.011293,0.0,NaN,3.540058,3.540058
2,1,10,1.306837,157.0,0.000000,7.194329,5508.5,0.000000,-0.011293,0.0,0.000000,3.540058,3.540058
3,1,11,-0.614124,0.0,0.000000,-1.154932,0.0,0.000000,-0.011294,0.0,0.000013,0.0,0.0
4,1,12,-0.520727,59.0,13.100278,-0.332544,4010.5,793.698729,-0.029947,7.0,1.459695,0.0,0.0

In [2]:
df=pd.read_csv('fleet_.csv',low_memory=False)

In [3]:
df

,timeStamp,tripID,accData,gps_speed,battery,cTemp,dtc,eLoad,iat,imap,kpl,maf,rpm,speed,tAdv,tPos,deviceID
0,2017-10-13 13:09:36.000,1,0000043803c00202420003410000000000000000000000...,0.0,48.607,NaN,NaN,7.058824,NaN,NaN,3.540058,133.98,5508.5,157.0,NaN,7.058824,1
1,2017-10-13 13:09:51.000,2,0028044803d0010240010541000342020440fe01420104...,0.0,48.607,NaN,NaN,7.058824,NaN,NaN,3.540058,133.98,5508.5,157.0,NaN,7.058824,1
2,2017-10-13 13:09:52.000,2,ff280400006801034102024001033d0004420103410004...,0.0,48.607,NaN,NaN,90.980392,NaN,NaN,3.540058,133.98,5508.5,157.0,NaN,7.058824,1
3,2017-10-13 13:09:57.000,2,001003e803d001034101043f0103410100440104400204...,0.0,48.607,NaN,NaN,7.058824,NaN,NaN,3.540058,133.98,5508.5,157.0,NaN,7.058824,1
4,2017-10-13 15:42:34.000,3,ffb0044003f00205410302410000000000000000000000...,0.0,48.914,NaN,NaN,74.901961,NaN,NaN,1.179644,489.14,12228.5,191.0,NaN,74.901961,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5102544,2017-11-06 18:57:12.000,69,0c98ffa804c0fe05400006410002410102400102400002...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8
5102545,2017-11-06 18:57:13.000,69,0ce8ff980500040a2dfb0950000743fd0743f5003f0204...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8
5102546,2017-11-06 19:15:17.000,69,0d18ff6004e00103420103410000000000000000000000...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8
5102547,2017-11-06 19:15:18.000,0,0d30ff80050001053f04fa4801024000034101043f0004...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8
5102548,2017-11-06 19:15:19.000,0,0d30ff1004d00a023d07fb4a0103410105410003410003...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8

In [4]:
df['deviceID'].value_counts()

deviceID
4     849422
46    782892
53    740133
45    576251
23    484237
43    262555
16    234403
37    229624
12    174486
13    160836
1     117275
2     106659
47     87357
22     78013
35     72566
11     42345
50     40725
24     40139
38     20929
51      1624
8         78
Name: count, dtype: int64

In [16]:
dev4=df[df['deviceID']==24]

In [17]:
dev4['tripID'].value_counts()

tripID
238    10162
309     2131
320     1564
310     1067
324      944
       ...
529        1
527        1
43         1
40         1
2          1
Name: count, Length: 580, dtype: int64

In [54]:
df.tail(101311)

,timeStamp,tripID,accData,gps_speed,battery,cTemp,dtc,eLoad,iat,imap,kpl,maf,rpm,speed,tAdv,tPos,deviceID
5001238,2017-12-22 17:02:36.000,938,ffa0fb9803b0021d3b021c3c0000000000000000000000...,0.0,0.0,56.0,0.0,42.352941,43.0,95.0,0.0,8.96,830.25,0.0,0.0,0.0,53
5001239,2017-12-22 17:02:37.000,938,ff68fba0037800213c011e3a021e3c011f3b011d3b001c...,0.0,0.0,56.0,0.0,41.960784,43.0,95.0,0.0,9.12,851.75,0.0,0.0,0.0,53
5001240,2017-12-22 17:02:38.000,938,ff90fc000348001e37011c37ff1e3ffd1f3aff1e37ff1d...,0.0,0.0,56.0,0.0,50.196078,43.0,96.0,0.0,9.06,845.25,0.0,0.0,0.0,53
5001241,2017-12-22 17:02:39.000,938,ff10fbf8011001183bff1c38011b38031d3d031e3d0321...,0.0,0.0,56.0,0.0,50.980392,43.0,96.0,0.0,9.15,854.50,0.0,0.0,0.0,53
5001242,2017-12-22 17:02:40.000,938,ffe0fbf003b8fe1c36041d3b021c38031c39051e3d0220...,0.0,0.0,56.0,0.0,39.607843,43.0,96.0,0.0,9.56,882.50,0.0,0.0,0.0,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5102544,2017-11-06 18:57:12.000,69,0c98ffa804c0fe05400006410002410102400102400002...,0.0,0.0,NaN,NaN,0.000000,NaN,NaN,0.0,0.00,0.00,0.0,NaN,0.0,8
5102545,2017-11-06 18:57:13.000,69,0ce8ff980500040a2dfb0950000743fd0743f5003f0204...,0.0,0.0,NaN,NaN,0.000000,NaN,NaN,0.0,0.00,0.00,0.0,NaN,0.0,8
5102546,2017-11-06 19:15:17.000,69,0d18ff6004e00103420103410000000000000000000000...,0.0,0.0,NaN,NaN,0.000000,NaN,NaN,0.0,0.00,0.00,0.0,NaN,0.0,8
5102547,2017-11-06 19:15:18.000,0,0d30ff80050001053f04fa4801024000034101043f0004...,0.0,0.0,NaN,NaN,0.000000,NaN,NaN,0.0,0.00,0.00,0.0,NaN,0.0,8
5102548,2017-11-06 19:15:19.000,0,0d30ff1004d00a023d07fb4a0103410105410003410003...,0.0,0.0,NaN,NaN,0.000000,NaN,NaN,0.0,0.00,0.00,0.0,NaN,0.0,8