In [1]:
import numpy as np
import pandas as pd

In [2]:
df1=pd.read_csv('allcars.csv',low_memory=False)
df2=pd.read_csv('v2.csv',low_memory=False)

In [3]:
df1.head()

,Unnamed: 0,timeStamp,tripID,accData,gps_speed,battery,cTemp,dtc,eLoad,iat,imap,kpl,maf,rpm,speed,tAdv,tPos,deviceID
0,0,2017-10-31 18:45:59.000000,0,ffb0fd700220fff43fffe74808e73e03f33400ef33fbe1...,2.2,14.48,NaN,NaN,44.313725,NaN,NaN,0.0,0.0,903.0,4.0,NaN,15.686275,1
1,1,2017-10-31 18:46:00.000000,0,00b0fda802e804e14104ed3d01ee3a08ec4c04f738fbd5...,3.7,14.48,NaN,NaN,35.294118,NaN,NaN,0.0,0.0,938.0,6.0,NaN,15.294118,1
2,2,2017-10-31 18:46:01.000000,0,00f0fe5002b0fdea4009e33c01ed3701ec4100f53b05e8...,3.9,14.54,NaN,NaN,29.411765,NaN,NaN,0.0,0.0,1044.5,7.0,NaN,14.901961,1
3,3,2017-10-31 18:46:02.000000,0,0120fdc0028804e03c10de3a09e8400ce43b0ae63b01f4...,3.9,14.56,NaN,NaN,53.725490,NaN,NaN,0.0,0.0,1102.0,7.0,NaN,17.647059,1
4,4,2017-10-31 18:46:03.000000,0,00a0fde802d816e0370ae73604e23b04e53900e542ffea...,4.7,14.48,NaN,NaN,75.686275,NaN,NaN,0.0,0.0,1626.5,10.0,NaN,23.529412,1

In [4]:
df2.head()

,tripID,deviceID,timeStamp,accData,gps_speed,battery,cTemp,dtc,eLoad,iat,imap,kpl,maf,rpm,speed,tAdv,tPos
0,1,0.0,2017-12-22 18:43:05,10c0f8e00448fa18c80515d30000000000000000000000...,24.2612,0.0,66.0,0.0,28.6275,40.0,97.0,0.0,0.0,1010.75,23.0,0.0,0.0
1,1,0.0,2017-12-22 18:43:06,1138f8c804780a1ebdf718bcf919d10617c8e301b31017...,23.15,0.0,66.0,0.0,33.7255,40.0,98.0,0.0,0.0,815.5,21.0,0.0,0.0
2,1,0.0,2017-12-22 18:43:07,10f0f89804480612c30010c30714ce0520b7f41dbdf118...,18.7052,0.0,66.0,0.0,43.1373,40.0,98.0,0.0,0.0,862.25,17.0,0.0,0.0
3,1,0.0,2017-12-22 18:43:08,10d0f84804480d15bd0210c9f822c80017caf81ccd0517...,16.4828,0.0,66.0,0.0,41.5686,40.0,97.0,0.0,0.0,817.0,17.0,0.0,0.0
4,1,0.0,2017-12-22 18:43:09,1090f8c80480041dc9081cc50815c60511c60112c40514...,17.4088,0.0,66.0,0.0,43.1373,40.0,97.0,0.0,0.0,804.25,15.0,0.0,0.0

In [5]:
df3=pd.read_csv('fleet_features.csv',low_memory=False)

In [6]:
df3.head()

,deviceID,tripID,speed_mean,speed_max,speed_std,rpm_mean,rpm_max,rpm_std,acceleration_mean,acceleration_max,acceleration_std,kpl_mean,kpl_min
0,1,0,-0.094017,89.0,31.508224,1.134219,3829.0,908.289244,-0.019588,6.0,1.547410,0.000000,0.000000
1,1,1,1.306837,157.0,NaN,7.194329,5508.5,NaN,-0.011293,0.0,NaN,3.540058,3.540058
2,1,10,1.306837,157.0,0.000000,7.194329,5508.5,0.000000,-0.011293,0.0,0.000000,3.540058,3.540058
3,1,11,-0.614124,0.0,0.000000,-1.154932,0.0,0.000000,-0.011294,0.0,0.000013,0.000000,0.000000
4,1,12,-0.520727,59.0,13.100278,-0.332544,4010.5,793.698729,-0.029947,7.0,1.459695,0.000000,0.000000

In [7]:
df4=pd.read_csv('clustered_features.csv',low_memory=False)

In [9]:
df4[df4['cluster']==1]

,deviceID,tripID,speed_mean,speed_max,speed_std,rpm_mean,rpm_max,rpm_std,acceleration_mean,acceleration_max,acceleration_std,kpl_mean,kpl_min,cluster
0,1,0,-0.094017,89.0,31.508224,1.134219,3829.0,908.289244,-0.019588,6.0,1.547410,0.000000,0.000000,1
1,1,1,1.306837,157.0,NaN,7.194329,5508.5,NaN,-0.011293,0.0,NaN,3.540058,3.540058,1
2,1,10,1.306837,157.0,0.000000,7.194329,5508.5,0.000000,-0.011293,0.0,0.000000,3.540058,3.540058,1
3,1,11,-0.614124,0.0,0.000000,-1.154932,0.0,0.000000,-0.011294,0.0,0.000013,0.000000,0.000000,1
4,1,12,-0.520727,59.0,13.100278,-0.332544,4010.5,793.698729,-0.029947,7.0,1.459695,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4806,8,0,-0.614124,0.0,0.000000,-1.154932,0.0,0.000000,-0.011293,0.0,0.000000,0.000000,0.000000,1
4807,8,66,-0.614124,0.0,NaN,-1.154932,0.0,NaN,-0.011293,0.0,NaN,0.000000,0.000000,1
4808,8,67,-0.614124,0.0,0.000000,-1.154932,0.0,0.000000,-0.011293,0.0,0.000000,0.000000,0.000000,1
4809,8,68,-0.614124,0.0,0.000000,-1.154932,0.0,0.000000,-0.011293,0.0,0.000000,0.000000,0.000000,1
4810,8,69,-0.614124,0.0,0.000000,-1.154932,0.0,0.000000,-0.011293,0.0,0.000000,0.000000,0.000000,1

In [10]:
df4[df4['cluster']==2]

,deviceID,tripID,speed_mean,speed_max,speed_std,rpm_mean,rpm_max,rpm_std,acceleration_mean,acceleration_max,acceleration_std,kpl_mean,kpl_min,cluster
257,12,200,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,-0.011165,0.005133,0.000774,3.021000,3.021,2
288,12,49,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,0.019298,1.931818,0.232564,3.021000,3.021,2
290,12,50,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,-0.011293,0.000000,0.000000,3.021000,3.021,2
554,16,0,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,-0.011293,0.000000,0.000000,3.021000,3.021,2
682,22,0,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,-0.011293,0.000000,0.000000,3.021000,3.021,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3770,50,35,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,-0.011293,0.000000,0.000000,3.021000,3.021,2
3774,51,146,0.875538,255.0,140.898013,-0.140167,814.0,276.377158,63.359010,232.000000,116.001546,0.755250,0.000,2
3776,51,3,1.587848,255.0,115.209336,-0.398490,2104.0,407.343838,-0.390862,8.000000,9.927415,2.119682,0.000,2
4147,53,387,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,0.000884,0.189450,0.045948,3.021000,3.021,2
4148,53,388,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,-0.011293,0.000000,0.000000,3.021000,3.021,2