In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('clustered_features_with_anomalies.csv')

In [7]:
df.shape

(4811, 18)

In [5]:
df[df['cluster'] == 1]

,deviceID,tripID,speed_mean,speed_max,speed_std,rpm_mean,rpm_max,rpm_std,acceleration_mean,acceleration_max,acceleration_std,kpl_mean,kpl_min,cluster,anomaly_score_ebm,alert_ebm,anomaly_score_iforest,alert_iforest
0,1,0,-0.094017,89.0,31.508224,1.134219,3829.0,908.289244,-0.019588,6.0,1.547410,0.000000,0.000000,1,0.249428,False,-0.077686,False
1,1,1,1.306837,157.0,NaN,7.194329,5508.5,NaN,-0.011293,0.0,NaN,3.540058,3.540058,1,-0.198175,False,0.015986,True
2,1,10,1.306837,157.0,0.000000,7.194329,5508.5,0.000000,-0.011293,0.0,0.000000,3.540058,3.540058,1,-0.239255,False,0.042636,True
3,1,11,-0.614124,0.0,0.000000,-1.154932,0.0,0.000000,-0.011294,0.0,0.000013,0.000000,0.000000,1,-0.292825,False,-0.159365,False
4,1,12,-0.520727,59.0,13.100278,-0.332544,4010.5,793.698729,-0.029947,7.0,1.459695,0.000000,0.000000,1,-0.168328,False,-0.114899,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4806,8,0,-0.614124,0.0,0.000000,-1.154932,0.0,0.000000,-0.011293,0.0,0.000000,0.000000,0.000000,1,-0.292157,False,-0.162965,False
4807,8,66,-0.614124,0.0,NaN,-1.154932,0.0,NaN,-0.011293,0.0,NaN,0.000000,0.000000,1,-0.092179,False,-0.157169,False
4808,8,67,-0.614124,0.0,0.000000,-1.154932,0.0,0.000000,-0.011293,0.0,0.000000,0.000000,0.000000,1,-0.292157,False,-0.162965,False
4809,8,68,-0.614124,0.0,0.000000,-1.154932,0.0,0.000000,-0.011293,0.0,0.000000,0.000000,0.000000,1,-0.292157,False,-0.162965,False
4810,8,69,-0.614124,0.0,0.000000,-1.154932,0.0,0.000000,-0.011293,0.0,0.000000,0.000000,0.000000,1,-0.292157,False,-0.162965,False

In [6]:
df[df['cluster'] == 2]

,deviceID,tripID,speed_mean,speed_max,speed_std,rpm_mean,rpm_max,rpm_std,acceleration_mean,acceleration_max,acceleration_std,kpl_mean,kpl_min,cluster,anomaly_score_ebm,alert_ebm,anomaly_score_iforest,alert_iforest
257,12,200,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,-0.011165,0.005133,0.000774,3.021000,3.021,2,0.035421,True,-0.087181,False
288,12,49,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,0.019298,1.931818,0.232564,3.021000,3.021,2,0.332531,True,-0.053896,False
290,12,50,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,-0.011293,0.000000,0.000000,3.021000,3.021,2,-0.050458,False,-0.100775,False
554,16,0,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,-0.011293,0.000000,0.000000,3.021000,3.021,2,0.139241,True,-0.100775,False
682,22,0,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,-0.011293,0.000000,0.000000,3.021000,3.021,2,-0.049999,False,-0.100775,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3769,50,0,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,-0.011293,0.000000,0.000000,3.021000,3.021,2,-0.049672,False,-0.100775,False
3770,50,35,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,-0.011293,0.000000,0.000000,3.021000,3.021,2,0.052412,True,-0.100775,False
3776,51,3,1.587848,255.0,115.209336,-0.398490,2104.0,407.343838,-0.390862,8.000000,9.927415,2.119682,0.000,2,24.800805,True,0.030634,True
4147,53,387,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,0.000884,0.189450,0.045948,3.021000,3.021,2,0.263920,True,-0.069484,False
4148,53,388,2.505908,255.0,0.000000,-0.768427,255.0,0.000000,-0.011293,0.000000,0.000000,3.021000,3.021,2,-0.047395,False,-0.100775,False

In [14]:
import pandas as pd

df = pd.read_csv('clustered_features_with_anomalies.csv')

# Top anomalies per cluster (EBM residual score)
top_ebm = (df.sort_values(['cluster','anomaly_score_ebm'], ascending=[True, False]).groupby('cluster').head(10))
top_ebm[['deviceID','tripID','cluster','anomaly_score_ebm','alert_ebm','anomaly_score_iforest','alert_iforest']].head(20)

,deviceID,tripID,cluster,anomaly_score_ebm,alert_ebm,anomaly_score_iforest,alert_iforest
2017,43,322,1,46.779835,True,0.060119,True
2395,43,700,1,17.402275,True,0.073932,True
2354,43,659,1,16.027585,True,0.043979,True
3578,46,191,1,15.563317,True,0.063861,True
2176,43,481,1,14.526151,True,0.027734,True
2016,43,321,1,14.224164,True,0.073079,True
2045,43,350,1,12.362035,True,0.063261,True
2230,43,535,1,8.033083,True,0.048477,True
1667,35,14,1,6.187780,True,0.002350,True
1836,4,103,1,4.845855,True,-0.008558,False
3776,51,3,2,24.800805,True,0.030634,True
686,23,0,2,2.930932,True,0.001490,True
763,23,168,2,1.568354,True,0.029954,True
288,12,49,2,0.332531,True,-0.053896,False
4147,53,387,2,0.263920,True,-0.069484,False
2115,43,420,2,0.257808,True,-0.051904,False
3605,46,218,2,0.148758,True,-0.083614,False
554,16,0,2,0.139241,True,-0.100775,False
684,22,2,2,0.089622,True,-0.100775,False
1016,23,403,2,0.084832,True,-0.087181,False

In [18]:
agree = df[(df['alert_ebm'] == True) & (df['alert_iforest'] == True)]
agree = agree.sort_values('anomaly_score_ebm', ascending=False)
agree[['deviceID','tripID','cluster','anomaly_score_ebm','anomaly_score_iforest']].head(20)

      deviceID  tripID  cluster  anomaly_score_ebm  anomaly_score_iforest
2017        43     322        1          46.779835               0.060119
3776        51       3        2          24.800805               0.030634
2395        43     700        1          17.402275               0.073932
2354        43     659        1          16.027585               0.043979
3578        46     191        1          15.563317               0.063861
2176        43     481        1          14.526151               0.027734
2016        43     321        1          14.224164               0.073079
2045        43     350        1          12.362035               0.063261
2230        43     535        1           8.033083               0.048477
1667        35      14        1           6.187780               0.002350
1896         4     163        1           4.577513               0.095726
267         12       3        1           3.535067               0.050487
2295        43     600        1           3.512908               0.050702
2255        43     560        1           3.339807               0.020402
2319        43     624        1           3.287567               0.015887
1666        35      13        1           2.976343               0.030326
686         23       0        2           2.930932               0.001490
2662        45     219        1           2.229359               0.008089
223         12     170        1           2.208090               0.035610
262         12      25        1           2.203107               0.059236

In [2]:
new=pd.read_csv('new_data_scored.csv')

In [7]:
new

,deviceID,tripID,speed_mean,speed_max,speed_std,rpm_mean,rpm_max,rpm_std,acceleration_mean,acceleration_max,acceleration_std,kpl_mean,kpl_min,cluster,y_pred,residual,anomaly_score_ebm,alert_ebm
0,1,0,-0.053781,86.0,31.642210,1.140089,3302.50,910.197835,0.019002,5.000000,1.117795,0.000000,0.000000,2,1.992696,1.992696,-0.457434,False
1,1,1,1.413870,157.0,NaN,7.340078,5508.50,NaN,0.001085,0.000000,NaN,3.540058,3.540058,2,2.486314,1.053744,-0.643187,False
2,1,3,1.848813,191.0,0.000000,17.721802,12228.50,0.000000,0.001863,0.003703,0.000956,1.987960,1.179644,2,2.608169,0.620210,-0.728952,False
3,1,4,1.413870,157.0,0.000000,7.340078,5508.50,0.000000,-0.005062,0.000000,0.003904,3.540058,3.540058,2,2.506757,1.033301,-0.647231,False
4,1,5,1.848813,191.0,0.000000,17.721802,12228.50,0.000000,0.329584,0.208589,0.147495,1.179644,1.179644,2,2.471524,1.291881,-0.596076,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4600,53,1077,-0.594545,0.0,0.000000,-1.170001,0.00,0.000000,0.001085,0.000000,0.000000,0.000000,0.000000,2,2.467313,2.467313,-0.363541,False
4601,53,1078,-0.380599,51.0,15.373486,0.086620,1744.75,580.059729,-0.128447,4.666667,1.261764,4.092679,0.000000,2,2.310453,1.782226,-0.499071,False
4602,53,1079,-0.481004,39.0,11.397417,-0.024756,1628.00,414.298681,-0.182696,3.500000,0.872782,2.351105,0.000000,2,2.267287,0.083818,-0.835066,False
4603,53,1080,-0.417813,45.0,14.137068,0.047434,1684.50,491.123830,0.061624,4.500000,1.163626,3.377873,0.000000,2,2.152241,1.225632,-0.609182,False
4604,53,1081,-0.338665,58.0,15.752173,0.432191,2154.00,442.822295,0.035687,4.500000,1.414689,4.313227,0.000000,2,2.176064,2.137164,-0.428854,False

In [ ]:
dd=pd.read_csv('test')

In [3]:
Dat=pd.read_csv('CSV_files/Final_Anomalies_Clustered_data.csv',low_memory=False)

In [4]:
Dat.head()

,deviceID,tripID,speed_mean,speed_max,speed_std,rpm_mean,rpm_max,rpm_std,acceleration_mean,acceleration_max,acceleration_std,kpl_mean,kpl_min,cluster,anomaly_score_ebm,alert_ebm,anomaly_score_iforest,alert_iforest
0,1,0,-0.089210,89.0,31.486233,1.150952,3829.0,908.149689,-0.031325,5.000000,1.550786,0.000000,0.000000,1,-0.112427,False,-0.079700,False
1,1,2,1.315744,157.0,0.000000,7.243925,5508.5,0.000000,-0.012432,0.000000,0.000000,3.540058,3.540058,1,-0.164793,False,0.054030,True
2,1,3,1.733199,191.0,0.000000,17.495071,12228.5,0.000000,-0.012289,0.003713,0.000702,1.179644,1.179644,1,-0.114768,False,0.075822,True
3,1,4,1.315744,157.0,0.000000,7.243925,5508.5,0.000000,-0.013201,0.000000,0.002355,3.540058,3.540058,1,-0.165187,False,0.056938,True
4,1,5,1.733199,191.0,0.000000,17.495071,12228.5,0.000000,0.003930,0.226667,0.058525,1.179644,1.179644,1,0.155589,False,0.075822,True

In [3]:
df=pd.read_csv('CSV_files/final_clustered_Test_set_scored.csv',low_memory=False)

In [4]:
df

,deviceID,tripID,speed_mean,speed_max,speed_std,rpm_mean,rpm_max,rpm_std,acceleration_mean,acceleration_max,acceleration_std,kpl_mean,kpl_min,cluster,y_pred,anomaly_score_iforest,alert_iforest
0,1,0,-0.053781,86.0,31.642210,1.140089,3302.50,910.197835,0.019002,5.000000,1.117795,0.000000,0.000000,2,1.992696,-0.095433,False
1,1,1,1.413870,157.0,NaN,7.340078,5508.50,NaN,0.001085,0.000000,NaN,3.540058,3.540058,2,2.486314,0.012515,True
2,1,3,1.848813,191.0,0.000000,17.721802,12228.50,0.000000,0.001863,0.003703,0.000956,1.987960,1.179644,2,2.608169,0.053862,True
3,1,4,1.413870,157.0,0.000000,7.340078,5508.50,0.000000,-0.005062,0.000000,0.003904,3.540058,3.540058,2,2.506757,0.030759,True
4,1,5,1.848813,191.0,0.000000,17.721802,12228.50,0.000000,0.329584,0.208589,0.147495,1.179644,1.179644,2,2.471524,0.066911,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4600,53,1077,-0.594545,0.0,0.000000,-1.170001,0.00,0.000000,0.001085,0.000000,0.000000,0.000000,0.000000,2,2.467313,-0.162721,False
4601,53,1078,-0.380599,51.0,15.373486,0.086620,1744.75,580.059729,-0.128447,4.666667,1.261764,4.092679,0.000000,2,2.310453,-0.191076,False
4602,53,1079,-0.481004,39.0,11.397417,-0.024756,1628.00,414.298681,-0.182696,3.500000,0.872782,2.351105,0.000000,2,2.267287,-0.190231,False
4603,53,1080,-0.417813,45.0,14.137068,0.047434,1684.50,491.123830,0.061624,4.500000,1.163626,3.377873,0.000000,2,2.152241,-0.194880,False
4604,53,1081,-0.338665,58.0,15.752173,0.432191,2154.00,442.822295,0.035687,4.500000,1.414689,4.313227,0.000000,2,2.176064,-0.188037,False