### This file contains the segregation of testset and trainset from the dataset

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('fleet_.csv',low_memory=False)

In [8]:
df

,timeStamp,tripID,accData,gps_speed,battery,cTemp,dtc,eLoad,iat,imap,kpl,maf,rpm,speed,tAdv,tPos,deviceID
0,2017-10-13 13:09:36.000,1,0000043803c00202420003410000000000000000000000...,0.0,48.607,NaN,NaN,7.058824,NaN,NaN,3.540058,133.98,5508.5,157.0,NaN,7.058824,1
1,2017-10-13 13:09:51.000,2,0028044803d0010240010541000342020440fe01420104...,0.0,48.607,NaN,NaN,7.058824,NaN,NaN,3.540058,133.98,5508.5,157.0,NaN,7.058824,1
2,2017-10-13 13:09:52.000,2,ff280400006801034102024001033d0004420103410004...,0.0,48.607,NaN,NaN,90.980392,NaN,NaN,3.540058,133.98,5508.5,157.0,NaN,7.058824,1
3,2017-10-13 13:09:57.000,2,001003e803d001034101043f0103410100440104400204...,0.0,48.607,NaN,NaN,7.058824,NaN,NaN,3.540058,133.98,5508.5,157.0,NaN,7.058824,1
4,2017-10-13 15:42:34.000,3,ffb0044003f00205410302410000000000000000000000...,0.0,48.914,NaN,NaN,74.901961,NaN,NaN,1.179644,489.14,12228.5,191.0,NaN,74.901961,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5102544,2017-11-06 18:57:12.000,69,0c98ffa804c0fe05400006410002410102400102400002...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8
5102545,2017-11-06 18:57:13.000,69,0ce8ff980500040a2dfb0950000743fd0743f5003f0204...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8
5102546,2017-11-06 19:15:17.000,69,0d18ff6004e00103420103410000000000000000000000...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8
5102547,2017-11-06 19:15:18.000,0,0d30ff80050001053f04fa4801024000034101043f0004...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8
5102548,2017-11-06 19:15:19.000,0,0d30ff1004d00a023d07fb4a0103410105410003410003...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8

In [5]:
df.shape

(5102549, 17)

In [6]:
# 1) Sample exactly 1,020,510 rows reproducibly
test = df.sample(n=1_020_510, random_state=42)

# 2) Remove the sampled rows to get the remainder
train_pool = df.drop(index=test.index)

# (optional) Reset indices
test = test.reset_index(drop=True)
train_pool = train_pool.reset_index(drop=True)

In [7]:
train_pool

,timeStamp,tripID,accData,gps_speed,battery,cTemp,dtc,eLoad,iat,imap,kpl,maf,rpm,speed,tAdv,tPos,deviceID
0,2017-10-13 13:09:51.000,2,0028044803d0010240010541000342020440fe01420104...,0.0,48.607,NaN,NaN,7.058824,NaN,NaN,3.540058,133.98,5508.5,157.0,NaN,7.058824,1
1,2017-10-13 13:09:52.000,2,ff280400006801034102024001033d0004420103410004...,0.0,48.607,NaN,NaN,90.980392,NaN,NaN,3.540058,133.98,5508.5,157.0,NaN,7.058824,1
2,2017-10-13 13:09:57.000,2,001003e803d001034101043f0103410100440104400204...,0.0,48.607,NaN,NaN,7.058824,NaN,NaN,3.540058,133.98,5508.5,157.0,NaN,7.058824,1
3,2017-10-13 15:42:34.000,3,ffb0044003f00205410302410000000000000000000000...,0.0,48.914,NaN,NaN,74.901961,NaN,NaN,1.179644,489.14,12228.5,191.0,NaN,74.901961,1
4,2017-10-13 15:42:35.000,3,ffd004600438020441000341010340ffff410001410401...,0.0,48.914,NaN,NaN,74.901961,NaN,NaN,1.179644,489.14,12228.5,191.0,NaN,74.901961,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4082034,2017-11-06 18:57:11.000,69,0cb0fff804b80005410007440002400002400003410103...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8
4082035,2017-11-06 18:57:12.000,69,0c98ffa804c0fe05400006410002410102400102400002...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8
4082036,2017-11-06 18:57:13.000,69,0ce8ff980500040a2dfb0950000743fd0743f5003f0204...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8
4082037,2017-11-06 19:15:17.000,69,0d18ff6004e00103420103410000000000000000000000...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8
4082038,2017-11-06 19:15:19.000,0,0d30ff1004d00a023d07fb4a0103410105410003410003...,0.0,0.000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.00,0.0,0.0,NaN,0.000000,8

In [9]:
test

,timeStamp,tripID,accData,gps_speed,battery,cTemp,dtc,eLoad,iat,imap,kpl,maf,rpm,speed,tAdv,tPos,deviceID
0,2017-10-10 10:22:28.000,136,0c10007806b8fe03c1fe04c2fd04c1fd05c3fe04c2fe06...,0.0000,12.88,NaN,NaN,29.019608,NaN,NaN,18.005960,6.04,1200.0,36.0,NaN,5.882353,4
1,2017-10-01 23:12:11.000,0,00760012ff38,0.0001,255.00,255.0,255.0,255.000000,255.0,255.0,3.021000,255.00,255.0,255.0,255.0,255.000000,16
2,2017-09-01 00:03:14.000,35,0000001eff16,0.0000,255.00,255.0,255.0,255.000000,255.0,255.0,3.021000,255.00,255.0,255.0,255.0,255.000000,50
3,2017-10-02 13:41:39.000,0,0076000eff2e,0.0001,255.00,255.0,255.0,255.000000,255.0,255.0,3.021000,255.00,255.0,255.0,255.0,255.000000,16
4,2017-12-13 19:25:05.000,662,0000000000000000000000000000000000000000000000...,9.7000,0.00,36.0,0.0,95.686275,21.0,116.0,5.107022,15.38,1020.0,26.0,0.0,0.000000,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020505,2017-10-10 09:40:59.000,136,0c20005006d0fe03c2fe04c1fe04c3ff05c2fe03c0fe05...,0.0000,12.88,NaN,NaN,29.019608,NaN,NaN,18.005960,6.04,1200.0,36.0,NaN,5.882353,4
1020506,2017-10-10 07:38:04.000,222,02a8ff28fff800173aff173cff163a01173dff143c0017...,0.0000,255.00,255.0,255.0,255.000000,255.0,255.0,3.021000,255.00,255.0,255.0,255.0,255.000000,46
1020507,2017-11-08 07:59:11.000,205,0358fb800310f7d9def9d1cef7dac8f6d1ddfbd0e000cc...,9.8000,0.00,NaN,NaN,18.039216,NaN,NaN,4.428691,9.55,906.5,14.0,NaN,0.000000,45
1020508,2017-12-16 08:45:40.000,784,0000000000000000000000000000000000000000000000...,7.0000,0.00,42.0,0.0,17.647059,13.0,99.0,6.274143,9.63,1030.0,20.0,0.0,0.000000,45
1020509,2017-10-05 23:14:40.000,121,0c6800f807600008c20007c30107c30207c10107c20007...,0.0000,12.88,NaN,NaN,29.019608,NaN,NaN,18.005960,6.04,1200.0,36.0,NaN,5.882353,4

In [10]:
train_pool.to_csv('Fleet_data_with_features_to_train.csv',index=False)

In [11]:
test.to_csv('test_set.csv',index=False)